[*.csproj]
indent_size=4
[*.cs]
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_method_call_parameter_list_parentheses=false
max_line_length=120
indent_style=space
indent_size=4
csharp_new_line_before_open_brace=all
csharp_new_line_before_open_brace=all
csharp_style_allow_embedded_statements_on_single_line=false